
  .footer {
    background-color: #020000f8;

  }

  .footer .title {
    color: rgb(250, 250, 183);
    font-size: 20px;
    font-weight: bold;
    width: 66%;
    margin-bottom: 10px;
  }

  .footer h9 {
    display: block;
    font-weight: normal;
    font-size: 10px;
    line-height: 2;
  }
  .footer .list-unstyled Link {
    color: #d3d9dd;
  }
  .footer .list-unstyled Link:hover {
    color: #1417cc;
  }